<h1><a href='/'>Home</a></h1>
<% if logged_in? %>
	<a href="/users/<%= @user.id %>"><%= @user.username %>'s Profile</a>
	<a href="/posts/new">New Post</a>
	<a href="/logout">Logout</a>
<% else %>
	<a href="/users/new">New User</a>
	<a href="/login">Login</a>
<% end %>