<h1><a href='/'>Home</a></h1>
<% if logged_in? %>
	<a href="users/<%= user.id %>"><%= user.username %> Profile</a>
	<a href="/users/show/#{current_user.username}">Logout</a>
<% else %>
	<a href="/users/show/#{current_user.username}">New User</a>
	<a href="/users/show/#{current_user.username}">Login</a>
<% end %>